<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>PortFolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="assets/img/AR.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Ajmal A T</a></h1>
        <div class="social-links mt-3 text-center">
          <a target="_blank"  href="https://wa.me/+918592817937" class="whatsapp"><i class="bx bxl-whatsapp"></i></a>
          <a target="_blank" href="https://www.instagram.com/_.ajma.l/" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a target="_blank" href="https://join.skype.com/invite/ruHB38w6Qkpi" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a target="_blank" href="https://www.linkedin.com/in/ajmal-aju-b585bb254" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          <a target="_blank"  href="https://github.com/Ajmal-AT" class="github"><i class="bx bxl-github"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#skills" class="nav-link scrollto"><i class="bi bi-diagram-2"></i> <span>Skills</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#MyPhotographs" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>My Photographs</span></a></li>
          <li><a href="#projects" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Projects</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Ajmal A T</h1>
      <p>I'm <span class="typed" data-typed-items="Developer, Freelancer"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>I'm Ajmal AT, a passionate Java developer with a strong foundation in Computer Science. I hold a BSc in Computer Science from Calicut University, where I nurtured my love for coding and problem-solving.
            My journey into technology was sparked by a curiosity about how digital systems work, and since then, I've been dedicated to honing my skills in Java development. My goal is to create efficient and innovative solutions that bridge the gap between front-end and back-end elements, resulting in seamless and user-friendly web applications.            
            With a focus on Java programming and expertise in the Spring Framework, I'm enthusiastic about contributing my skills to collaborative projects. I'm a firm believer in continuous learning and growth, always on the lookout for opportunities to expand my knowledge and make a positive impact.            
            Outside the realm of tech, you'll find me at the gym, which keeps me balanced and fuels my creativity. Feel free to reach out to me via <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=new" target="_blank">ajmalateranzhiyil@gmail.com</a> if you'd like to explore how we can work together to create exceptional software solutions.          
          </p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="assets/img/ARR.jpg" class="img-fluid" alt="" style="border-radius: 10px;">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>
              <br>Java Full Stack Developer</h3>
            <p class="fst-italic">
              I'm a Java full stack developer. With a strong foundation in both front-end and back-end technologies, I'm passionate about crafting user-friendly web applications. My expertise in Java programming and modern frameworks allows me to create seamless and efficient solutions. Let's collaborate to build exceptional software experiences.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>06 April 2002</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+91 8592817937</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Kerala, India</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>21</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor of Science</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>ajmalateranzhiyil@gmail.com</span></li>
                </ul>
              </div>
            </div>
            <p>
              <br>
              Thank you for taking the time to visit my portfolio!
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p>Skills are the specialized abilities and knowledge you possess that enable you to perform specific tasks effectively. As a Java full stack developer, my skills include proficiency in programming languages, frameworks, tools, and methodologies required for both front-end and back-end web development. These skills empower me to design, develop, and deliver innovative software solutions.</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">HTML <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">JavaScript <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">Java Programming <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Spring Framework <i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Database Management (MySQL) <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume <button type="button" class="btn btn-primary rounded-pill border-0"><a href="https://drive.google.com/file/d/1gfxB7mL3W4Vrmcq2ueL3NYdFDbVGG__p/view?usp=drive_link" target="_blank" class="text-dark font-weight-bold">Download</a></button></h2>  
          <p>A resume is a succinct document that outlines your professional background, skills, education, and experiences. It serves as a snapshot of your qualifications and achievements, providing potential employers with a quick overview of your suitability for a specific role. A well-crafted resume highlights your key strengths, accomplishments, and relevant details, helping you stand out in the competitive job market. It's a crucial tool for making a positive first impression and securing opportunities that align with your career goals.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Ajmal A T</h4>
              <p><em>Results-driven and passionate Java Full Stack Developer with a strong foundation in Computer Science and a BSc degree from Calicut University. Demonstrated proficiency in both front-end and back-end development, leveraging Java programming and the Spring Framework to create seamless web applications. Skilled in HTML, CSS, and JavaScript, with a focus on crafting user-centric interfaces. Experienced in database management and API integration. A proactive learner committed to staying at the forefront of industry trends and continuously refining skills.</em></p>
            </div>

            <h3 class="resume-title">Education and Professional Development</h3>
            <div class="resume-item">
              <h4>Bachelor of Science in Computer Science</h4>
              <h5>University of Calicut</h5>
              <h5>2020 - 2023</h5>
              <p><em>Eranad Knowledge City
                Cherukulam, Manjeri
                Malappuram District,Kerala</em></p>
              <p>My time at Eranad Knowledge City College pursuing a BSc degree in Computer Science was nothing short of remarkable. Those years were filled with laughter, growth, and an incredible sense of camaraderie.</p>
              <p>From the moment I stepped onto the campus, I was welcomed into a community that felt like a second family. The friendships I formed during those years have been invaluable, providing not only academic support but also endless memories and shared experiences.</p>
              <p>The college's friendly and approachable teachers played a pivotal role in shaping my educational journey. Their guidance extended beyond the classroom, fostering an environment where curiosity and questioning were encouraged. The lessons I learned from them extended far beyond textbooks and lectures, providing insights that have stuck with me as I've progressed in my career.</p>
              <p>As with any academic journey, there were challenges, but I faced them head-on with determination. Through hard work and perseverance, I was able to successfully complete my degree without any supply exams, a feat that stands as a testament to the growth and dedication I experienced during those years.</p>
              <p>The college campus itself was a vibrant hub of activity, with various clubs, events, and workshops that enriched my overall learning experience. Whether it was participating in coding competitions, attending seminars, or simply spending time in the college library, each day brought new opportunities for growth.</p>
              <p>Looking back, I am filled with gratitude for the time I spent at Eranad Knowledge City College. The memories I created and the lessons I learned continue to guide me in my journey as a professional. My college experience wasn't just about academics; it was about embracing the moments, forging connections, and building a foundation for a promising future.</p>
            </div>

            <div class="resume-item">
              <h4>Java Full Stack Developer Certification</h4>
              <h5>April 27, 2023  -  August 3, 2023</h5>
              <p><em> Inmakes learning hub </em></p>
              <p>Completed an intensive Java Full Stack Developer course covering front-end and back-end development.</p>
              <p>Gained proficiency in Java programming, Spring Framework, and other relevant technologies.</p>
              <p>Developed practical skills through hands-on projects and real-world application.</p>
              <p>Enhanced understanding of web development principles, including databases and APIs.</p>
              <p>Demonstrated dedication to ongoing education and self-improvement.</p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <!-- <h3 class="resume-title">Professional Experience</h3> -->
            <br><br><br>
            <div class="resume-item">
              <h4>RPA Developer Foundation Course</h4>
              <h5>January 2, 2023 - May 2, 2023</h5>
              <p><em> UiPath Academy </em></p>
              <p>Successfully completed the RPA Developer Foundation course, gaining proficiency in Robotic Process Automation using UiPath.</p>
              <p>Attained practical skills in automating processes, data manipulation, and workflow design.</p>
              <p>Acquired knowledge of RPA best practices and tools to optimize business processes.</p>
              <p>Completed the course as part of an offline program at Eranad Knowledge City, Manjeri.</p>
              <p>Demonstrated ability to apply RPA concepts to real-world scenarios.</p>
            </div>
            <div class="resume-item">
              <h4>Software Development Course</h4>
              <h5>March 31, 2023 - Present</h5>
              <p><em>DDU-GKY Program, SIST College Trivandrum</em></p>
                <p>Currently pursuing an intensive Software Development course under the DDU-GKY program.</p>
                <p>Gaining comprehensive knowledge in software development methodologies, programming languages, and tools.</p>
                <p>Acquiring hands-on experience through practical projects, coding exercises, and collaborative activities.</p>
                <p>Expected to complete the course with proficiency in developing software solutions that meet industry standards.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="MyPhotographs" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>My Photographs</h2>
        </div>
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap" style="border-radius: 10px;">
              <img src="assets/img/portfolio/photo_2023-07-24_13-53-19 - Copy.jpg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap" style="border-radius: 10px;">
              <img src="assets/img/portfolio/photo_2023-07-24_13-53-27.jpg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap" style="border-radius: 10px;">
              <img src="assets/img/portfolio/photo_2023-07-24_13-53-28.jpg" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap" style="border-radius: 10px;">
              <img src="assets/img/portfolio/photo_2023-07-24_13-53-35.jpg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap" style="border-radius: 10px;">
              <img src="assets/img/portfolio/photo_2023-07-24_13-53-32.jpg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap" style="border-radius: 10px;">
              <img src="assets/img/portfolio/photo_2023-07-24_13-53-38.jpg" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap" style="border-radius: 10px;">
              <img src="assets/img/portfolio/photo_2023-07-24_13-53-36.jpg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap" style="border-radius: 10px;">
              <img src="assets/img/portfolio/photo_2023-07-24_13-53-31.jpg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap" style="border-radius: 10px;">
              <img src="assets/img/portfolio/photo_2023-07-24_13-53-41.jpg" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap" style="border-radius: 10px;">
              <img src="assets/img/portfolio/photo_2023-07-24_13-53-34.jpg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap" style="border-radius: 10px;">
              <img src="assets/img/portfolio/AR.jpg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap" style="border-radius: 10px;">
              <img src="assets/img/portfolio/ARR.jpg" class="img-fluid" alt="">
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="projects" class="services">
      <div class="container">

        <div class="section-title" style="margin-bottom: 15px;">
          <h2>Projects</h2>
          <p>Welcome to my projects showcase! Here you'll find a collection of work that spans my journey as a Java Full Stack Developer. Each project reflects my passion for innovation, problem-solving, and crafting user-centric experiences. From personal endeavors to academic pursuits, these projects encapsulate my dedication to mastering the art of technology and design.
			Feel free to explore, discover, and connect. These projects are more than lines of code; they represent my commitment to excellence and the exciting possibilities that lie ahead.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bi bi-book"></i></div>
            <h4 class="title"><a href="https://doc-0c-80-prod-03-apps-viewer.googleusercontent.com/viewer2/prod-03/pdf/330pc6psdgvcbl4eebpbphm6018f760f/65idti5mbhjcptste6tq03nonrb7ba1p/1691657025000/3/114637272914039228004/APznzab0iejlcUidjCMHlImiTA8En6EBYygfSLiOpnGYzv_St0_zhg3MvZWgR73PHGt9l18BvaELOFPzE1knuA4Jlw0p_8NdOsqG5EkqU4yxJjVj1dgjjAdMqsnDWV2fOC3mEEOHVm8cqvqLkGcribn2DnOB7K9Q4AnGgXKRV9-MtraemYbnswtR9SQ7zg2W1PjD9lnm-wuH3fok8fQDMXynF9YrkLpc1uB3cpnfHM-3O028tVwP4TKOUkJRolizeHXRJqghoAEtssr64VH-f_FduAJ9EJTZgNcc6Nc1YXi8LJKy0MkY9pT10KO1rGK4CTSIgnrfYJovNTf88XsV2vvLKsRnEge-73Y1ca0I9wn3MA92t1WbDWFL3gK1811gCTMI3MbxZri6uackjQNLNg8H-h497vokKA==?authuser=0&nonce=he4fns8m9gsss&user=114637272914039228004&hash=o9r7svf224964h50qqs9hfct7pke6vn3" target="_blank">Sex Education</a></h4>
            <p class="description">My Academic Project </p>
            <p class="description">In this system we are proposing a centralized application for Public. 
					Sexual matters are often inadequately explained to persons needing advice, 
					whatever their age, because of religious beliefs or taboo. Older women and men 
					may be given insufficient advice by doctors and hospitals. So in this application, 
					we are proposing an application to overcome all these situations. The users can 
					consult the counsellors listed in the application and clear all their doubts. The 
					users can book appointments at specialized counsellors. Any user can register in 
					this application. The users can view the sessions scheduled by the counsellors and 
					attend them. The user also get a chat bot to chat and they chat bot gives replies to 
					their questions</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-film"></i></div>
            <h4 class="title"><a href="https://drive.google.com/drive/folders/18R0x7kCrRYOFsa5BMfK9BG0cPfJMwsoX?usp=drive_link" target="_blank">Film Booking Web Application using Spring Boot</a></h4>
            <p class="description">The "Film Booking Web Application" is a dynamic and user-friendly platform that allows users to discover, explore, and book tickets for their favorite movies. Built using the Spring Boot framework, this application provides an intuitive and efficient way for movie enthusiasts to access movie details, select showtimes, choose seats, and make bookings seamlessly.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-shield"></i></div>
            <h4 class="title"><a href="https://drive.google.com/drive/folders/1KVa4mtKCaBLZ8wTl0BxVl6IXY5rqtulh?usp=drive_link" target="_blank">COVID-19 Death Census Web Application using Spring Boot</a></h4>
            <p class="description">The "COVID-19 Death Census Web Application" is a comprehensive platform designed to gather and manage data related to COVID-19-related deaths. Built using the Spring Boot framework, this application aims to provide a user-friendly interface for healthcare professionals, government agencies, and researchers to enter, track, and analyze COVID-19 death data for accurate reporting and informed decision-making.</p>
          </div>
        </div>
      </div>
    </section><!-- End Services Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Have questions, ideas, or opportunities to discuss? I'm all ears! Feel free to reach out and let's start a conversation. Whether you're looking to collaborate, share insights, or simply connect, I'm here to engage and explore possibilities.</p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4><a href="https://www.google.com/maps/place/11%C2%B010'39.6%22N+76%C2%B008'28.8%22E/@11.1776673,76.1387623,17z/data=!3m1!4b1!4m4!3m3!8m2!3d11.1776673!4d76.1413372?entry=ttu" target="_blank" style="color: black;">Location: </a></h4>
                <p>Alungal Shappinkunnu Karakunnu (PO), Manjeri Malappuram, Kerala 676123</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>ajmalateranzhiyil@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 859 281 7937</p>
              </div>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="save" method="post" role="form" class="info" style="padding: 30px;">
              <div class="row text-center" style="margin-bottom: 20px;">
              	<h4 style="margin-left: -5px;"><b>Get in Touch</b></h4>
              </div>
              <div class="row">
                <div class="form-group col-md-6" style="margin-top: 10px;">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6" style="margin-top: 10px;">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6" style="margin-top: 10px;">
                  <label for="name">Your Number</label>
                  <input type="text" name="number" class="form-control" id="number" required>
                </div>
                <div class="form-group col-md-6" style="margin-top: 10px;">
                  <label for="name">Subject</label>
                  <input type="text" class="form-control" name="subject" id="subject" required>
                </div>
              </div>
              <div class="form-group" style="margin-top: 20px;">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="form-group" style="margin-top: 20px;">
              	<div class="text-center"><input type="submit" class="bg-info" style="border: 2px solid transparent;" value="Send Message"></div>
              </div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

 
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/typed.js/typed.umd.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>
</html>